{{!-- TIPS: this come with Emett, Visual Code comes by default with it, to others ide you need to install plugin for it,
h1 and tab to autocomplet every tag you need --}} {{!--
<h1>{{title}}</h1> --}} {{!-- EMMET ABBREVIATION put div give class jumbotron and also give class text center: div.jumbotron.text.center
+ TAB --}}
<div>
    <h1>{{title}}</h1>
    <p>This is a Node/Express for jotting down ideas for future Youtube Videos</p>
    <p>Version: 1.0.0</p>

</div>