{{!-- TIPS: this come with Emett, Visual Code comes by default with it, 
to others ide you need to install plugin for it, h1 and tab to autocomplet every tag you need --}}
{{!-- <h1>{{title}}</h1> --}}

{{!-- EMMET ABBREVIATION
put div give class jumbotron and also give class text center: div.jumbotron.text.center + TAB --}}
<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down ideas for your next youtube videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea</a>

</div>