{{!-- loop in handlebars --}}
{{#each errors}}
 <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
    <h3>Video Idea</h3>
    <form action="/ideas" method="post">

        <div class="form-group">
            <label for="mds_ticker">mds_ticker</label>
            <input type="text" class="text form-control" name="mds_ticker" 
            required">
            {{!-- Validation client side
            <input type="text" class="text form-control" name="title" required> --}}
        </div>

        <div class="form-group">
            <label for="mds_ts">mds_ts</label>
            <input type="text" class="text form-control" name="mds_ts" 
            required">
            {{!-- Validation client side
            <input type="text" class="text form-control" name="title" required> --}}
        </div>

        <div class="form-group">
            <label for="m">m</label>
            <input type="text" class="text form-control" name="m" 
            required">
            {{!-- Validation client side
            <input type="text" class="text form-control" name="title" required> --}}
        </div>

        <div class="form-group">
            <label for="t">t</label>
            <input type="text" class="text form-control" name="t" 
            required">
            {{!-- Validation client side
            <input type="text" class="text form-control" name="title" required> --}}
        </div>

        

        {{!--         <div class="form-group">
            <label for="details">Details</label>
            <textarea type="text" class="text form-control" name="mds_ticker" 
            required> </textarea>
        </div> --}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>